# Как выжить на титанике

---

Эта тетрадка научит тебя использовать pandas, numpy, строить графики в matplotlib и выживать при кораблекрушении.

Начнём!

##загрузим данные c Pandas

In [1]:
#подключим модуль Pandas.
import pandas
import numpy
#считаем данные
data = pandas.DataFrame.from_csv("train(1).csv")

In [2]:
#Данные - таблица, двумерный массив
data[:10]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C

In [42]:
data["Age"][numpy.isnan(data["Age"])] = 25
data["X0"] = 1
data[:10]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,X0
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,1
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,1
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S,1
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S,1
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S,1
6,0,3,"Moran, Mr. James",male,25,0,0,330877,8.4583,NaN,Q,1
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S,1
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S,1
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S,1
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C,1

#Логистическая регрессия

In [3]:
def sigma(z):
    G =(1/(1+numpy.e**(-z)))
    return G

In [46]:
def predict(W,X):
    """получить прогноз h(X|w)"""
    
    size = len(X) #размерность ответа
    X = numpy.array(X)
    
    pred = []
    for i in range(size):
        
        X_i = X[i,:] #i-тая строчка выборки примеров
        pred_i = sigma(sum(X_i*W)) #прогноз модели для i-той строчки
        
        pred.append(pred_i) #предсказание модели для него
        
    #import time
    #print pred
    #print W
    #time.sleep(5)
    return numpy.array(pred)

In [47]:
def loss(X,Y,W):
    "напиши функцию потерь, J(X,Y,W)"
    
    pred = predict(W,X) #предсказание по модели
    
   

    logloss =  -numpy.log(1-pred)  #ошибка   

    return logloss

In [48]:
def gradient(X,Y,W):
    "посчитай вектор градиента функции потерь"
    len_gradient = len(W) #размер вектора градиента
    X = numpy.array(X)
    Y = numpy.array(Y).reshape(len(Y))
    grad = numpy.zeros(len(W)) 

    #(-Y*numpy.log(pred) - (1 - Y)*logloss) логарифм - numpy.log(m)
    
    pred = predict(W,X)
    for i in range(len(X)):
        grad += (pred[i] - Y[i])*X[i]  # вектор градиента
    
    
    return grad/len(Y)

In [53]:
def train_model(X,Y, step = 0.1,n_steps = 100):
    #создадим нулевой вектор весов
    len_w = X.shape[1] #сколько должно быть весов
    W = numpy.zeros(len_w)
    for i in range(n_steps):
        
        grad = gradient(X,Y,W) #вектор антиградиента
        
        W = W-grad*step #новый вектор весов
        
        #pts.append( loss(X, Y, W))
    return W

In [54]:
X = pandas.DataFrame()
X["age"] = data.Age
#X["pclass"] = data.Pclass
#X["fromS"] = data.Embarked=="S"
X["X0"] = 1

Y = pandas.DataFrame(data.Survived)

print X.shape, Y.shape

(891, 2) (891, 1)

In [55]:
from sklearn.cross_validation import train_test_split
X_train, X_test, Y_train,Y_test = train_test_split(X,Y,train_size = 0.6)

print X_train.shape, X_test.shape

(534, 2) (357, 2)

In [56]:
W = train_model(X,Y,step = 0.05, n_steps = 1000)

In [57]:
y_pred_train = predict(W,X_train)
y_pred_test = predict(W,X_test)

In [60]:
print "Ошибка на обучении:", numpy.average(loss(X_train,Y_train,W))
print "Ошибка на тесте:", numpy.average(loss(X_test,Y_test,W))

Ошибка на обучении: 1.62871751908
Ошибка на тесте: 1.17105804662

In [62]:
from sklearn.metrics import roc_auc_score
print "AUC на обучении:", roc_auc_score(Y_train,y_pred_train)
print "AUC на тесте:", roc_auc_score(Y_test,y_pred_test)

AUC на обучении: 0.857738095238
AUC на тесте: 0.800521885522

In [14]:
W

array([ nan,  nan,  nan,  nan])