# Как выжить на титанике

---

Эта тетрадка научит тебя использовать pandas, numpy, строить графики в matplotlib и выживать при кораблекрушении.

Начнём!

##загрузим данные c Pandas

In [1]:
#подключим модуль Pandas.
import pandas

#считаем данные
data = pandas.DataFrame.from_csv("train(1).csv")

In [38]:
#Данные - таблица, двумерный массив
data[:10]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C

In [40]:
import numpy
data.Age[numpy.isnan(data.Age)] = 29

#Логистическая регрессия

In [41]:
numpy.e

2.718281828459045

In [35]:
def predict(W,X):
    """получить прогноз h(X|w)"""
    
    size = len(X) #размерность ответа
    X = numpy.array(X)
    pred = []
    for i in range(size):
        
        X_i = X[i,:] #i-тая строчка выборки примеров
        pred_i = sum(X_i*W) #прогноз модели для i-той строчки
        
        pred.append(pred_i) #предсказание модели для него
        
    return numpy.array(pred)

In [ ]:
def loss(X,Y,W):
    "напиши функцию потерь, J(X,Y,W)"
    
    pred = predict(W,X) #предсказание по модели
    
    margin =  <твой код> #отступ

    logloss =  <твой код>  #ошибка   

    return logloss

In [ ]:
def gradient(X,Y,W):
    "посчитай вектор градиента функции потерь"
    len_gradient = len(W) #размер вектора градиента
    X = numpy.array(X)
    Y = numpy.array(Y).reshape(len(Y))

    #логарифм - numpy.log(m)
    
    grad = <твой код> # вектор градиента
    
    
    return grad

In [ ]:
def train_model(X,Y, step = 0.1,n_steps = 100):
    #создадим нулевой вектор весов
    len_w = X.shape[1] #сколько должно быть весов
    W = numpy.zeros(len_w)
    for i in range(n_steps):
        
        grad = gradient(X,Y,W) #вектор антиградиента
        
        W = W-grad*step #новый вектор весов
        
        
        pts.append( loss(X, Y, W))
    return W

In [37]:
X = pandas.DataFrame()
X["age"] = data.Age
X["pclass"] = data.Pclass
X["fromS"] = data.Embarked=="S"
X["X0"] = 1

Y = pandas.DataFrame(data.Survived)

print X.shape, Y.shape

(891, 4) (891, 1)

In [ ]:
from sklearn.cross_validation import train_test_split
X_train, X_test, Y_train,Y_test = train_test_split(X,Y,train_size = 0.6)

print X_train.shape, X_test.shape

In [ ]:
W = train_model(X,Y,step = 0.05, n_steps = 1000)

In [ ]:
y_pred_train = predict(W,X_train)
y_pred_test = predict(W,X_test)

In [ ]:
print "Ошибка на обучении:", loss(X_train,Y_train,W)
print "Ошибка на тесте:", loss(X_test,Y_test,W)