# Как выжить на титанике

---

Эта тетрадка научит тебя использовать pandas, numpy, строить графики в matplotlib и выживать при кораблекрушении.

Начнём!

##загрузим данные c Pandas

In [1]:
#подключим модуль Pandas.
import pandas

#считаем данные
data = pandas.DataFrame.from_csv("train(1).csv")

In [2]:
x=5
print(x)

5

In [3]:
#Данные - таблица, двумерный массив
data[:10]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C

In [4]:
#размеры таблицы
print "len(data) = ",len(data)
print "data.shape = ",data.shape

len(data) =  891
data.shape =  (891, 11)

In [6]:
#вот так можно получить четвёртую строку таблицы, считая с нуля
print data.irow(252)

Survived                            0
Pclass                              1
Name        Stead, Mr. William Thomas
Sex                              male
Age                                62
SibSp                               0
Parch                               0
Ticket                         113514
Fare                            26.55
Cabin                             C87
Embarked                            S
Name: 253, dtype: object

In [7]:
#первые 5 строк
print data[0:5]

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex  Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male   22
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38
3                                       Heikkinen, Miss. Laina  female   26
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35
5                                     Allen, Mr. William Henry    male   35

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S

In [ ]:
#так можно получить второй столбец (считая с нуля)
#print data.icol(2)
#но проще - вот так:
print data["Name"]
#или даже так: data.Name

In [8]:
#несколько колонок, несколько строк
data[["Sex","Pclass"]][5:10]

                Sex  Pclass
PassengerId
6              male       3
7              male       1
8              male       3
9            female       3
10           female       2

##Теперь сам
* выведи данные о 1, 13, 666 и последнем пассажире. Кто из них выжил?

1)
* выведи данные о столбике "Survived" - выжившие.
* напиши программу, которая считает, сколько всего людей выжило и сколько всего людей было на корабле

2)
* выведи данные о столбике "Age" - возраст
* напиши программу, которая считает средний возраст пассажиров

! Обрати внимание, что в данных может быть мусор (NaN, пустые значения) !

In [49]:
print data[12:13]

             Survived  Pclass                            Name   Sex  Age  \
PassengerId
13                  0       3  Saundercock, Mr. William Henry  male   20

             SibSp  Parch     Ticket  Fare Cabin Embarked
PassengerId
13               0      0  A/5. 2151  8.05   NaN        S

In [41]:
#<1,13, 666 и последний из пассажиров>

             Survived  Pclass                Name   Sex  Age  SibSp  Parch  \
PassengerId
666                 0       2  Hickman, Mr. Lewis  male   32      2      0

                   Ticket  Fare Cabin Embarked
PassengerId
666          S.O.C. 14879  73.5   NaN        S

In [ ]:
#столбик

In [ ]:
#программа

#Numpy и векторные операции

In [50]:
#загружаем numpy
import numpy

#основная структура данных - массив
a = numpy.array([1,2,3,4,5])
b = numpy.array([5,4,3,2,1])
print "a = ",a
print "b = ",b

#математические и логические операции считаются для каждого элемента массива
print "a+1 =", a+1
print "a*2 =", a*2
print "a==2", a==2
#если в операции участвуют 2 массива, операции считаются для соответствующих пар
print "a+b =",a+b
print "a*b =",a*b

a =  [1 2 3 4 5]
b =  [5 4 3 2 1]
a+1 = [2 3 4 5 6]
a*2 = [ 2  4  6  8 10]
a==2 [False  True False False False]
a+b = [6 6 6 6 6]
a*b = [5 8 9 8 5]

In [51]:
print "Разность между a и b:",a-b
print "Квадраты элементов b:", b*b
print "Половины элементов массива a:", a*1/2
print "Половины произведений элементов массивов a и b:", a*b*1/2
print "Частное разности элементов a и единицы с квадратами b:", (a-1)/b*b

Разность между a и b: [-4 -2  0  2  4]
Квадраты элементов b: [25 16  9  4  1]
Половины элементов массива a: [0 1 1 2 2]
Половины произведений элементов массивов a и b: [2 4 4 4 2]
Частное разности элементов a и единицы с квадратами b: [0 0 0 2 4]

In [ ]:
#а ещё в numpy есть много функций

print "numpy.sum(a) = ",numpy.sum(a)
print "numpy.min(a) = ", numpy.min(a)
print "numpy.argmin(b) = ", numpy.argmin(b) #индекс минимального элемента
print "numpy.max(a) = ", numpy.max(a)
print "numpy.argmax(b) = ", numpy.argmax(b) #индекс максимального
print "numpy.average(a) = ", numpy.average(a)
print "numpy.var(b) = ", numpy.var(b)
print "numpy.unique(['male','male','female','female','male']) = ",numpy.unique(['male','male','female','female','male'])
#и ещё много  всего ...

In [56]:
#реши свою предыдущую задачу в 1 строчку с использованием numpy
#подсказка: если массив состоит из 0 и 1, то 
#сумма = количестно единичек 
#среднее значение = вероятность единички


#найди пассажира с (минимальной/максимальной) стоимостью билета. Сколько он заплатил? Выжил ли он?
print numpy.argmin(data.Fare)
print data.irow(180)

#Сколько лет было самому (молодому\старому) пассажиру. Как его звали? Какого он пола?
print #<твой код>

180
Survived                               0
Pclass                                 3
Name        Sage, Miss. Constance Gladys
Sex                               female
Age                                  NaN
SibSp                                  8
Parch                                  2
Ticket                          CA. 2343
Fare                               69.55
Cabin                                NaN
Embarked                               S
Name: 181, dtype: object

In [ ]:
#логические операции
print "a>2",a>2
print "numpy.logical_and(a>2,b>2) = ", numpy.logical_and(a>2,b>2)
print "numpy.logical_or(a>4,b<3) = ", numpy.logical_or(a>2,b<3)
print "numpy.logical_not(-||-) = ",numpy.logical_not(numpy.logical_or(a>4,b<3))

print "\n\n"

#индексация
print "a> 3 =",a>3
print "a[a>3] =", a[a>3]
print "numpy.where(a>3) =",numpy.where(a>3) #где в массиве лежат True
print "a[numpy.where(a>3)] =",a[numpy.where(a>3)]

Вариант А
* 1) сколько всего классов и какие они? ("Pclass")
* 2) какая средняя стоимость билета в каждом классе?
* 3) в каком классе больше детей (< 18 лет)? 
* 4) все ли дети путешествуют с родителями?
* 5) Есть ли различия в названиях билетов("Ticket") в разных классах?

Вариант Б
* 1) какие бывают порты? ("Embarked")
* 2) Из какого порта больше пассажиров
* 3) В каком порту самые дорогие билеты?
* 4) В каком порту самые молодые девушки?
* 5) Есть ли различия в названиях билетов("Ticket") в разных портах?

In [61]:
print

PassengerId
1              3
2              1
3              3
4              1
5              3
6              3
7              1
8              3
9              3
10             2
11             3
12             1
13             3
14             3
15             3
...
877            3
878            3
879            3
880            1
881            2
882            3
883            3
884            2
885            3
886            3
887            2
888            1
889            3
890            1
891            3
Name: Pclass, Length: 891, dtype: int64

In [ ]:
#Выдели в отдельный массив мужчин и женщин
# за пол отвечает колонка "Sex", ("male","female")

men = #<твой код>
women = #<твой код>

#Кто с большей вероятностью выживет: мужчина или женщина?
print "P(выжил|мужчина) = ", #<твой код>
print "P(выжил|женщина) = ", #<твой код>

##битва полов:
1)
* кто больше платил за билет?
* у кого больше вероятность, что он плавает с семьёй ("SibSp" - к-во родственников)

2)
* кто в среднем моложе?
* кто ЧАЩЕ плавает ПЕРВЫМ классом? ("Pclass")

In [ ]:
print "Ответ 1 для мужчин:", #<твой код>
print "Ответ 1 для женщин:", #<твой код>

print "Ответ 2 для мужчин:", #<твой код>
print "Ответ 2 для женщин:", #<твой код>

#Графики

In [ ]:
#загрузим библиотеку
import matplotlib.pyplot as plt #загрузить библиотеку matplotlib.pyplot под именем plt
%matplotlib inline

#линии
plt.plot([0,1,2,3,4,5],[0,1,4,9,16,25])

In [ ]:
#точки
plt.scatter([0,1,2,3,4,5],[0,1,4,9,16,25])
plt.show()

plt.scatter([1,1,2,3],[3,2,2,1],c = ["red","blue","blue","green"],marker = "x")
plt.scatter([0,1,2,3,4,5],[0,1,4,9,16,25],c = "black")

In [ ]:
#гистограмма
plt.hist([0,1,1,1,2,2,3,3,3,3,3,4,4,5,5,5,6,7,7,8,9,10])
plt.show()
plt.hist([0,1,1,1,2,2,3,3,3,3,3,4,4,5,5,5,6,7,7,8,9,10],bins = 5)

In [64]:

plt.hist([data.Age])
plt.show()
plt.hist([data.Fare])

NameError: name 'plt' is not defined

In [ ]:
#Постройте график из точек x=возраст, y=цена билета, цвет - (порт/ класс)
#<ваш код>

#Мини-конкурс!

При помощи интуиции, граффиков и вычислений попробуйте выделить по признакам группу людей,
в которой почти все выжили. 

Признаки - выражения вида:
* [колонка] равно [значение] (пол = женский)
* [математическое выражение] >, <, >= или <=  [значение]  (возраст старше 18 лет) (количество родственников минус родителей больше 1)
* [колонка с именем] - [утверждение про имя]  (имя содержит "Mr." и длинее 5 букв)

Признаки могут использоваться через И и ИЛИ.

(и только их. НЕ, импликация, XOR, эквивалентность, штрих Шифера и стрелка Пирса идут лесом)

Например, все [старше 30 лет] И [из порта C] И ([родственников 0] ИЛИ [первый класс]) - это 4 признака

Правила:
* Побеждает тот, у кого в группе больше всего людей;
* Можно использовать не более 5 признаков;
* В группе обязательно должны выжить более 90% людей;
* Гипотеза должна подтверждаться запускабельным кодом;

Напутствие - возможно, будет полезно сначала изучить данные, посмотреть на графики и обусдить идеи, а потом бросаться лихорадочно пробовать всё подряд.

In [ ]:
#предварительные графики

In [ ]:
#старше 30лет и из порта С
age_and_port = numpy.logical_and(data.Age > 30,data.Embarked == "C")

#родственников на борту 0 или в первом классе
sibsp_or_class = numpy.logical_or(data.SibSp ==0,data.Pclass ==1)

#всё вместе
group_indexer = numpy.logical_and(age_and_port,sibsp_or_class)

#группа. Замените этот код на свою группу.
group = data[group_indexer]

In [ ]:
print "Количество человек:",len(group)
p_survived = numpy.average(group.Survived)
print "Вероятность выжить:", p_survived
print "Достаточно выживших:", p_survived > 0.9

[руководства по библиотекам]

  * [NumPy](http://www.numpy.org/)
    - [руководство для пользователей Matlab](http://wiki.scipy.org/NumPy_for_Matlab_Users)
  * [Pandas](http://pandas.pydata.org/)
    - [пример работы с данными при помощи pandas](http://nbviewer.ipython.org/github/agconti/kaggle-titanic/blob/master/Titanic.ipynb)
  * [Matplotlib](http://matplotlib.org/index.html)
    - [pyplot](http://matplotlib.org/api/pyplot_api.html) — эмуляция функционала графопостроений в Matlab
    - [галерея примеров](http://matplotlib.org/gallery.html)
  * [SciPy](http://scipy.org/)

C = Cherbourg; Q = Queenstown; S = Southampton